.Header{
    width: 100%;
    height: 68px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.Title-header{
    margin-left: 150px;
} 

.Span-header{
    color: #FD377E;
}

.Button-inicio{
    width: 64px;
    height: 40px;
    background-color: #E9ECEF;
    color: #868E96;
    border: solid 1px #E9ECEF;
    margin-right: 150px;
    border-radius: 8px;
    cursor: pointer;
}

.Button-inicio:hover{
    background-color: #FD377E;
    color: #E9ECEF;
    border: solid 1px #FD377E;
}

.Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}
