.App{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}

.Div-inicial{
    width: 50%;
    height: 598px;
    color: #f3f3f3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title{
    width: 122px;
    height: 19.53px;
    margin-right: 150px;
} 

.Span{
    color: #FD377E;
}

.Text-title{
    width: 280px;
    height: 144px;
    display: flex;
    flex-direction: column;
}

.Text{
    width: 280px;
    height: 44px;
    display: flex;
    flex-direction: column;
}

.Button-iniciar{
    width: 241px;
    height: 48px;
    background-color: #FD377E;
    color: #f3f3f3;
    border: solid 1px #FD377E;
    border-radius: 8px;
    margin-right: 44px;
    cursor: pointer;
}

.Div-Img{
    width: 50%;
    height: 593px;
    color: #f3f3f3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Img-inicial{
    width: 593px;
    height: 593px;
}