.title1{
    font-weight: bold;
    font-size: 28px;
}

.title2{
    font-weight: bold;
    font-size: 24px;
}

.title3{
    font-weight: bold;
    font-size: 20px;
}

.title4{
    font-weight: bold;
    font-size: 12px;
}

.headline{
    font-weight: regular;
    font-size: 16px;
}

.body{
    font-weight: regular;
    font-size: 12px;
}